<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/styleRegistro.css">
    <title>REGISTRATE</title>
</head>
<body>
    <header>
        <a href="../index.html"><img class="logo" src="../src/img/Logo-removebg-preview.png"  alt="FILMS PLUS"></a>
    </header>
    <main class="main">
        <section class="contenedor-registro">
            <form action="" method="" class="formulario-registro">
                <h1 class="h1-registro">Registrate</h1>
                <div class="div-registro">
                    <input type="text" class="registro" placeholder="Nombre">
                </div>
                <div class="div-registro">
                    <input type="text" class="registro" placeholder="Apellido">
                </div>
                <div class="div-registro">
                    <input type="email" class="registro" placeholder="Mail">
                </div>
                <div class="div-registro">
                    <input type="password" class="registro" placeholder="Contraseña">
                </div>
                <div class="div-registro">
                    <input type="password" class="registro" placeholder="Repetir contraseña">
                </div>
                <div class="div-registro">
                    <input type="date" class="registro" placeholder="dd/mm/aaaa">
                </div>
                <div class="div-registro">
                    <select name="pais" id="pais" class="registro">
                        <option value="0" disabled selected class="option">Pais</option>
                        <option value="Argentina" class="option">Argentina</option>
                        <option value="Brasil" class="option">Brasil</option>
                        <option value="Chile" class="option">Chile</option>
                        <option value="Ecuador" class="option">Ecuador</option>
                        <option value="Uruguay" class="option">Uruguay</option>
                    </select>
                </div>
                <div class="div-registro checkbox-registro">                    
                    <input type="checkbox" class="registro">
                    <a href="">Acepto terminos y condiciones</a>
                </div>
                <div class="div-registro">
                    <input type="submit" class="boton-registro" value="Registrarse">
                </div>
                <div class="div-registro">
                    <a href="#" class="ayuda-registro">Necesitas Ayuda?</a>
                </div>
            </form>
   
        </section>
    </main>
</body>
</html>