<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/styleRegistro.css">
    <title>REGISTRATE</title>
</head>
<body>
    <header>
        <a href="../index.html"><img class="logo" src="../src/img/Logo-removebg-preview.png"  alt="FILMS PLUS"></a>
    </header>
    <main class="main">
        <section class="contenedor-registro">
            <form action="" method="" class="formulario-registro">
                <h2 class="h2-registro">Registrate</h2>
                <div class="div-registro">
                    <input type="text" class="registro">
                </div>
                <div class="div-registro">
                    <input type="text" class="registro">
                </div>
                <div class="div-registro">
                    <input type="text" class="registro">
                </div>
                <div class="div-registro">
                    <input type="text" class="registro">
                </div>
                <div class="div-registro">
                    <input type="text" class="registro">
                </div>
                <div class="div-registro">
                    <input type="text" class="registro">
                </div>
                <div class="div-registro">
                    <input type="text" class="registro">
                </div>
                <div class="div-registro">
                    <input type="text" class="registro">
                </div>
                <div class="div-registro">
                    <input type="text" class="registro">
                </div>
            </form>
   
        </section>
    </main>
</body>
</html>