<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylesesion.css">
    <title>INICIAR SESION</title>
</head>
<body>
    <header>
        <a href="../index.html"><img class="logo" src="../src/img/Logo-removebg-preview.png"  alt="FILMS PLUS"></a>
    </header>
    <main class="main">
        <section class="contenedor-sesion">
            <form action="" method="" class="formulario-sesion" id="formulario-sesion">
                <h1 class="h1-sesion">Iniciar Sesion</h1>
                <div class="div-sesion">
                    <input type="email" class="sesion" id="email" placeholder="Mail">
                    <div id="email-error" class="error"></div>
                </div>
                <div class="div-sesion">
                    <input type="password" class="sesion" id="password" placeholder="Contraseña">
                    <div id="password-error" class="error"></div>
                </div>
                <div class="div-sesion checkbox-sesion">                    
                    <input type="checkbox" class="sesion" id="recordar">
                    <a href="">Recordar</a>
                </div>
                <div class="div-sesion">
                    <input type="submit" class="boton-sesion" value="Registrarse">
                </div>
                <div class="div-sesion">
                    <a href="#" class="restablecer-sesion">Restablecer Contraseñia</a>
                </div>
            </form>
   
        </section>
    </main>
    <script src="../js/validacionSesion.js" ></script>
</body>
</html>