*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(5, 7, 12, 0.315), rgba(5, 7, 12, 0.334)), url(../img/bg-register.jpg);
}
header{
    display: flex;
    justify-content: center;
    height: 4.5em;
}
header a img{
    height: 100%;
    filter: invert(74%) sepia(85%) saturate(326%) hue-rotate(336deg) brightness(99%) contrast(94%);
}
.main{
    width: 100%;
    display:flex;
    justify-content: center;
    text-align: center;
}
.contenedor-registro{
    background-color:rgb(38, 37, 37);
    width: 26em;
    height: 40em;    
    padding: 7%;
    border-radius: 15px;    
}
.formulario-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1em;
}
.h1-registro{
    color: white;
    margin-bottom: 10px;
    text-align: center;
}
.div-registro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.registro{
    background-color: rgb(38, 37, 37);
    font-size: 0.9em;
    color:white;
    width: 80%;
    border: 2px solid rgb(157, 62, 62);
    border-radius: 20px;
    padding: 10px 20px;
}
.registro:focus{
    box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.5);
}
.registro:hover{
    transform: scale(1.1);
}
.registro::placeholder{
    color: white;
}
input[type="date"]{
    color: white;
}
.checkbox-registro{
    display: flex;
    flex-direction: row;
}
.checkbox-registro .registro{
    width: 10%;
    cursor: pointer;
    box-shadow: none;
}
.checkbox-registro a{
    text-decoration: none;
    color: white;
    font-size: 0.7em;
}
.boton-registro{
    background-color:rgba(167, 45, 45, 0.981);
    width: 60%;
    font-size: 0.8em;
    font-weight: 550;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.boton-registro:active{
    transform: scale(1.1);
    background-color: black;
    border: 1px solid goldenrod;
}
.ayuda-registro{
    text-decoration: none;
    color: white;
}
.error {
    color: red;
    margin-top: 5px;
    font-size: 0.8em;
}
@media screen and (min-width: 960px){
    .contenedor-registro{
        padding: 3%;
    }
}
